<div class="align_style">
  <img
    [src]="imgUrl"
    alt="image"
  width="300px"
  />
  <br>
  <button (click)="toggleLight()" >Toggle Light Bulb</button>
  <hr/>
  <input type="text" [(ngModel)]="userText" [style.border-color]="userText"/>
  <h3 [style.color]="userText" >Result : {{userText}}</h3>
  <p>{{customColor}}</p>
</div>
